<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/profile.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Montserrat|Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Tangerine"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>About us</title>
  </head>
   {{>navbar}}
  <body style="background-image: 'bg-5.jpg';">
    {{!-- <div class="container-fluid main_menu">
      <div class="row">
        <div class="col-12 mx-auto">
          <nav class="navbar navbar-expand-lg">
            <img
              src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-smart-refrigerator-internet-technology-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
            />
            <header
              style="font-size: 35px; color: #5a004b; font-family: serif;"
            >
              My
            </header>
            <header style="font-size: 35px; color: black; font-family: serif;">
              Fridge
            </header>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/homepage.html">
                    <header
                      style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                    >
                      Home
                    </header>
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">
                    <header
                      style="font-size: 23px; color: black; border-bottom: 1px solid black; padding-right: 5px; padding-left: 5px;"
                    >
                      Login
                    </header>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup.html">
                    <header
                      style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                    >
                      Sign-Up
                    </header>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div> --}}

    <div class="about-us">
      <div class="who-we-are">
        <h3>Who we are</h3>
        <span>We are team MYFRIDGE.We work to save and raise awarness regarding
          food wastage. Our aim is to minimize food wastage.
        </span>
      </div>
      <div class="cards">
        <div class="card">
          <div class="card-img card-img1"></div>
          <div class="card-body">
            <h3>Priyansh</h3>
            <span>Web developer</span>
            <p></p>
          </div>
        </div>

        <div class="card">
          <div class="card-img card-img2"></div>
          <card class="card-body">
            <h3>Abhishek</h3>
            <span>Web developer</span>
            <p></p>
          </card>
        </div>

        <div class="card">
          <div class="card-img card-img3"></div>
          <card class="card-body">
            <h3>Aahana</h3>
            <span>Web developer</span>
            <p></p>
          </card>
        </div>

        <div class="card">
          <div class="card-img card-img4"></div>
          <card class="card-body">
            <h3>Aadi</h3>
            <span>Web developer</span>
            <p></p>
          </card>
        </div>

      </div>

      <div class="social-media">
        <i class="fa fa-github" style="font-size:24px"></i>
        <i class="fa fa-linkedin" style="font-size:24px"></i>
        <i class="fa fa-twitter" style="font-size:24px"></i>
        <i class="fa fa-facebook" style="font-size:24px"></i>
      </div>
    </div>
  </body>

</html>