<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/main_reccommendation.css" />
    <title>Document</title>

  </head>
  <body>
    {{>navbar}}
    <form action="" style="text-align: center;">
      <h1 class="heading"> <a style="color:#3eff31e3" href="/recipe_one">SEARCH RECIPES</a></h1>
      <br />
      <h1 class="heading">
        
        <a style="color:#3eff31e3" href="/recipe_arr">RECIPE CATLOG</a></h1>
       {{!-- <button type="button" class="button1"><a href="/about_us">gg</a>
        hello
      </button>  --}}

      <br />
      <h1 class="heading">
        <a style="color:#3eff31e3" href="/spoonucular">RECIPE RECOMMENDATION</a></h1>
    </form>
  </body>
</html>