<div class="container-fluid main_menu">
  <div class="row">
    <div class="col-12 mx-auto">
      <nav class="navbar navbar-expand-lg">
        <img
          src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-smart-refrigerator-internet-technology-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
        />
        <header style="font-family: serif; font-size: 35px; color: #5a004b;">
          My
        </header>
        <header style="font-family: serif; font-size: 35px; color: black;">
          Fridge
        </header>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">
                <header
                  style="font-size: 23px; color: black; border-bottom: 1px solid black; padding-right: 5px; padding-left: 5px;"
                >
                  Home
                </header>
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/edit_items">
                <header
                  style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                >
                  Edit Items
                </header>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/expired_items">
                <header
                  style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                >
                  Expiring Items
                </header>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main_reccommendation">
                <header
                  style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                >
                  Recipe Recommendation
                </header>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/amazon_try">
                <header
                  style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                >
                  Buy Products
                </header>
              </a>
            </li>
            {{! <li class="nav-item">
              <a class="nav-link" href="/about_us.html">
                <header
                  style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                >
                  Recipes
                </header>
              </a>
            </li> }}
            <li class="nav-item">
              <a class="nav-link" href="/about_us">
                <header
                  style="font-size: 23px; color: black; padding-right: 5px; padding-left: 5px;"
                >
                  About Us
                </header>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <header
                  style="font-size: 23px; color: black; padding-left: 5px;"
                >
                  Logout
                </header>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>